<div>
	<div class="well">
		<div id="form"></div>
	</div>
	<div class="well">
		<div id="change_password"></div>
	</div>
	<script>userdata = {{{userdata}}};</script>	
	<script type="text/javascript" src="/assets/js/account.js"></script>
</div>