<div class="limited-width">
	{{!>weeks}}
	<div class="games"></div>
	<div id="form"></div>
	<div><a href="javascript:Berries.picks_form.trigger('save');" class="btn pull-right btn-success" style="margin:15px 0">Submit</a></div>
	<script>
	data = {{{games}}};
	picks = {{{picks}}};
	limited = {{{limited}}};
	week = {{week}};
	</script>
	<script type="text/javascript" src="/assets/js/picks.js"></script>
</div>