<div>
	{{#groups}}
	<div>
		<div>{{name}}</div>
		{{#members}}
		<div>
		<span class="main">{{username}}</span>
			{{#scores}}
				<span class="score cube">{{.}}</span>
			{{/scores}}
				<span class="total">{{total}}</span>
			</div>
		{{/members}}
	</div>
	{{/groups}}
</div>