@font-face {font-family: 'digital';src: url('/assets/font/DS-DIGI.TTF');}


@media (min-width: 1200px){
.container .limited-width {
    width: 750px;
    margin: auto;
}
}
body{
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#236F2F), to(#2C883A));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #236F2F, #2C883A);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #236F2F, #2C883A);
  /* IE 10 */
  background: -ms-linear-gradient(top, #236F2F, #2C883A);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #236F2F, #2C883A);
	background-color: #2C883A;

	background-repeat: no-repeat;
  background-size: 100% 100px;
  background-position: 0 52px;
}
#top{
	background:#333;
  border-bottom: solid 1px #000;
}
#top a{color:#bbb;}
#top a:hover{color:#666;}

.member{
  background: #c5c5c5;
  background: linear-gradient( 0deg, #c4c4c4, #c8c8c8 );
  height:60px;
}
.member.active{background: #d8d8d8}
.member span,.teams span{float:left;}
.teams{height:34px;line-height: 34px;background: #ccc;}
.member .main{height: 60px;}
.main span{position:absolute;}
.main .total{bottom: -7px;color: #666;font-size: 32px;left:5px;font-family: digital, arial, verdana;}
.main .username{top:2px;right:2px;font-weight:bold;}
.main .wins{bottom:2px;right:2px;}
.playerResult{display:inline-block;width:34px;text-align: center;font-size: 24px;line-height: 24px;color:#808080;}
.playerResult .team-icon,.cube{height:30px;width:30px;display:inline-block;text-align: center;line-height: 30px}
.correct{background-color:#AFFF84}
/*.week{
  background: #333;
  border: solid 1px;
  border-color: #555 #111 #111 #555;
}*/

.panel-pickem.panel{
  border:none;
  border-radius: 0;
  background: rgba(50,50,50,.8);

}
.panel-pickem .panel-heading{padding: 0;  color: #f8f8f8;}
.panel-pickem .panel-heading a div{padding: 5px 15px;}
.panel-pickem .panel-body{padding:0;background: #c5c5c5;}


[data-type=gamePick] .btn:hover{
    border-color:#888;
}
[data-type=gamePick]{background:#f4f4f8;background:rgba(255,255,255,.8);}
[data-type=gamePick].has-error{
  background: #C44444;
  color:#fff;
}
.main{width:100px;30px;position: relative;text-align: right;display: inline-block;}
.weeks .main{text-align: center}
.weeks a{float:left;
  background: #333;
  border: solid 1px;
  border-color: #555 #111 #111 #555;
  color:#ddd;
  text-decoration: none;
}

.games{    font-size: 16px;
  font-weight: bold;
  color: #FFF;
  margin: 5px -15px;
  padding: 5px;
  background: rgba(255,255,255,0.2)
}

.team-icon{background-image:url(/assets/img/teamIconsNew.png);background-position: 0 -120px;margin:2px;}
/* positioning */
.Tennessee { background-position: 0 0; }
.Washington { background-position: -30px 0; }
.Arizona { background-position: -60px 0; }
.Tampa { background-position: -90px 0; }
.Miami { background-position: -120px 0; }
.Houston { background-position: -150px 0; }
.Green { background-position: -180px 0; }
.Detroit { background-position: -210px 0; }

.Louis , .Angeles{ background-position: 0 -30px; }
.Seattle { background-position: -30px -30px; }
.Francisco { background-position: -60px -30px; }
.Diego { background-position: -90px -30px; }
.Kansas { background-position: -120px -30px; }
.Denver { background-position: -150px -30px; }
.Cleveland { background-position: -180px -30px; }
.Cincinnati { background-position: -210px -30px; }

.Pittsburgh { background-position: 0 -60px; }
.Philadelphia { background-position: -30px -60px; }
.Oakland { background-position: -60px -60px; }
.Jets { background-position: -90px -60px; }
.Jacksonville { background-position: -120px -60px; }
.Dallas { background-position: -150px -60px; }
.Chicago { background-position: -180px -60px; }
.Baltimore { background-position: -210px -60px; }

.Minnesota { background-position: 0 -90px; }
.England { background-position: -30px -90px; }
.Orleans { background-position: -60px -90px; }
.Giants { background-position: -90px -90px; }
.Indianapolis { background-position: -120px -90px; }
.Carolina { background-position: -150px -90px; }
.Buffalo { background-position: -180px -90px; }
.Atlanta { background-position: -210px -90px; }





.Tennessee { background-color:#648FCC;color:#fff; }
.Washington { background-color:#773141;color:#fff; }
.Arizona { background-color:#9B2743; color:#fff;}
.Tampa { background-color:#D60A0B;color:#D3A205; }
.Miami { background-color:#008D97;color:#000; }
.Houston { background-color:#02253A;color:#fff; }
.Green { background-color:#203731;color:#fff; }
.Detroit { background-color:#006DB0;color:#000; }

.Louis , .Angeles{ background-color:#13264B;color:#fff; }
.Seattle { background-color:#002244;color:#A5ACAF; }
.Francisco { background-color:#AF1E2C;color:#fff; }
.Diego { background-color:#0C2340;color:#FFB81C; }
.Kansas { background-color:#B20032;color:#fff; }
.Denver { background-color:#FB4F14;color:#fff; }
.Cleveland { background-color:#26201E;color:#fff; }
.Cincinnati { background-color:#FB4F14;color:#fff; }

.Pittsburgh { background-color:#FFB612;color:#fff; }
.Philadelphia { background-color:#003B48;color:#C0C0C0; }
.Oakland { background-color:#000;color:#fff; }
.Jets { background-color:#0C371D;color:#000; }
.Jacksonville { background-color:#006778;color:#fff; }
.Dallas { background-color:#0D254C;color:#fff; }
.Chicago { background-color:#03202F;color:#fff; }
.Baltimore { background-color:#280353;color:#000; }

.Minnesota { background-color:#3B0160;color:#fff; }
.England { background-color:#0D254C;color:#D6D6D6; }
.Orleans { background-color:#D2B887;color:#fff; }
.Giants { background-color:#192F6B;color:#A2AAAD; }
.Indianapolis { background-color:#003B7B;color:#000; }
.Carolina { background-color:#0088CE;color:#000; }
.Buffalo { background-color:#00338D;color:#fff; }
.Atlanta { background-color:#BD0D18;color:#fff; }




.Tennessee:before { background-color:#0D254C; }
.Washington:before { background-color:#FFB612; }
.Arizona:before { background-color:#000; }
.Tampa:before { background-color:#89765F; }
.Miami:before { background-color:#F5811F; }
.Houston:before { background-color:#B31B34; }
.Green:before { background-color:#FFB612; }
.Detroit:before { background-color:#C5C7CF; }

.Louis:before , .Angeles:before{ background-color:#C9AF74; }
.Seattle:before { background-color:#69BE28; }
.Francisco:before { background-color:#E6BE8A; }
.Diego:before { background-color:#0072CE; }
.Kansas:before { background-color:#F2C800; }
.Denver:before { background-color:#002244; }
.Cleveland:before { background-color:#FE3C00; }
.Cincinnati:before { background-color:#000; }

.Pittsburgh:before { background-color:#000; }
.Philadelphia:before { background-color:#D3A205; }
.Oakland:before { background-color:#C4C8CB; }
.Jets:before { background-color:#fff; }
.Jacksonville:before { background-color:#9F792C; }
.Dallas:before { background-color:#C5CED6; }
.Chicago:before { background-color:#DD4814; }
.Baltimore:before { background-color:#D0B240; }

.Minnesota:before { background-color:#F0BF00; }
.England:before { background-color:#C80815; }
.Orleans:before { background-color:#D3A205; }
.Giants:before { background-color:#CA001A; }
.Indianapolis:before { background-color:#fff; }
.Carolina:before { background-color: #A5ACAF; }
.Buffalo:before { background-color:#C60C30; }
.Atlanta:before { border-right-color:#000; }

/*
.team_cube.cube:before{
  content:"&nbsp;";
  font-size: 0px; line-height: 0%; width: 0px;
  border-top: 30px solid transparent;
border-right: 30px solid;
}*/
.btn-team{width: 200px;line-height: 20px;}
@media (max-width: 767px){
.btn-team {
    width: 100%;
}
}
#container{margin-top:60px;}

.nav-tabs>li>a{color:#A9A9A9;}
[data-type=gamePick]  .col-xs-4{padding:0 5px;};

