<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>Pickem</title>
		<link rel='stylesheet' type='text/css' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
		<link rel='stylesheet' type='text/css' href='//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'>
		<link rel='stylesheet' type='text/css' href='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css'>

		<link rel='stylesheet' type='text/css' href='/assets/css/pickem.css'>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
		<header class="navbar navbar-fixed-top bs-docs-nav" id="top" role="banner"> 
			<div class="container"> 
				<div class="navbar-header"> 
					<button class="navbar-toggle collapsed" style="margin-bottom: 0px;margin-top: 3px;" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false"> 
						<span class="sr-only">Toggle navigation</span> 
						<span class="fa-navicon fa fa-lg" style="color:#ccc"></span>
					</button> 
					<a href="/" class="navbar-brand">Pickem</a> 
				</div> 
				<nav id="bs-navbar" class="collapse navbar-collapse"> 
					{{#user._id}}
					<ul class="nav navbar-nav"> 
						<!-- <li class="active"> <a href="/">Home</a> </li>  -->
						<li> <a href="/picks/"><i class="fa fa-check"></i> Picks</a> </li>
						<li> <a href="/results/"><i class="fa fa-th-list"></i> Results</a> </li> 
					</ul>
					{{/user._id}}
					<ul class="nav navbar-nav navbar-right"> 
						{{#user._id}}<li><a href="/logout" onclick="">Logout</a></li>{{/user._id}}
						<li><a href="/account" onclick="">{{user.username}}{{^user._id}}Guest{{/user._id}}</a></li> 
					</ul> 
				</nav> 
			</div> 
		</header>    
		
		<div class="container" id="container">
    	{{{@body}}}
    </div><!-- /.container -->


    <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
		<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/hogan.js/3.0.2/hogan.js'></script>
		<script type='text/javascript' src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
		<script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/jStorage/0.4.4/jstorage.min.js"></script>
		<script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.6.0/lodash.min.js"></script>
		<script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

		<script type="text/javascript" src="/assets/js/full.berry.min.js"></script>
		<script type="text/javascript" src="/assets/js/bootstrap.full.berry.js"></script>
		<script type="text/javascript" src="/assets/js/berry_gamePick.js"></script>
		<script type="text/javascript" src="/assets/js/toolbox.js"></script>

  </body>
</html>
